<header>
    <h1>Where in the world</h1> 
    <button><img src="" alt=""><p>Mode</p></button>
</header>
<main>
    <section>
        <input type="text">
        <input type="list">
        <datalist id="browsers">
            <option value="All">
            <option value="Africa">
            <option value="Americas">
            <option value="Asia">
            <option value="Europe">
            <option value="Oceana">
        </datalist>
    </section>
    <section>
        <a href="#">
        <article>
            <img src="" alt="">
        </article>
        <div>
            <h3>Country Name</h3>
            <p>Population: </p>
            <p>Region: </p>
            <p>Capital: </p>
        </div>
        </a>
        <a href="#">
            <article>
                <img src="" alt="">
            </article>
            <div>
                <h3>Country Name</h3>
                <p>Population: </p>
                <p>Region: </p>
                <p>Capital: </p>
            </div>
            </a>
            <a href="#">
                <article>
                    <img src="" alt="">
                </article>
                <div>
                    <h3>Country Name</h3>
                    <p>Population: </p>
                    <p>Region: </p>
                    <p>Capital: </p>
                </div>
                </a>
    </section>
</main>