<header>
    <h1>Where in the world</h1> 
    <button><img src="" alt=""><p>Mode</p></button>
</header>
<main>
    <section id="search-bars">
        <input type="text" [(ngModel)]="filterContent">
        <select id="regions" [(ngModel)]="select">
            <option value="" disabled selected hidden>Filter by Region</option>
            <option value="All">All</option>
            <option value="Africa">Africa</option>
            <option value="Americas">Americas</option>
            <option value="Asia">Asia</option>
            <option value="Europe">Europe</option>
            <option value="Oceana">Oceana</option>
        </select>
    </section>
    <section id="content">
        <section  *ngFor="let country of countries | filterPipe: select: 'string' | searchPipe: filterContent:'string'" class="countries">
        <a [routerLink]="[country.name.official]">
        <article>
            <img [src]="country.flags.png" alt="" class="flags">
        </article>
        <div>
            <h3>{{country.name.official}}</h3>
            <p>Population: {{country.population}} </p>
            <p>Region: {{country.region}} </p>
            <p>Capital: {{country.capital}} </p>
        </div>
        </a>
        </section>
    </section>
</main>