<header>
    <h1>Where in the world</h1> 
    <button><img src="" alt=""><p>Mode</p></button>
</header>
<main>
    <button (click)="backPage()">Arrow Back</button>
    <section>
        <img [src]="page.flags.png" alt="country flag">
        <article>
            <h2>Country Name</h2>
            <div>
                <p>Native Name: {{page.name.common}}</p>
                <p>Population: {{page.population}} </p>
                <p>Region: {{page.region}} </p>
                <p>Sub Region: {{page.subregion}}</p>
                <p>Capital: {{page.capital}}</p>
            </div>
            <div>
                <p>Top Level Domain: {{page.tld}}</p>
                <p>Currencies: {{page.currencies}}</p>
                <p>Languages: {{page.languages}}</p>
            </div>
        </article>
        <div>
            <h4>Border Countries: </h4>
            <button>Insert number of buttons here</button>
        </div>
    </section>
</main>