a {
    text-decoration: none;
}
button {
    border: none;
    background-color: var(--head-color);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: var(--txt-color);
}
.border-nav {
    background-color: var(--btn-color);
    border-radius: 2px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
    width: 96px;
    height: 28px;
}

/* body {
    --head-color: #FFFFFF;
    --bkg-color: #f2f2f2;
    --btn-color: #ffffff;
    --txt-color: #111517;
}
body.darkMode {
    --head-color: #2B3844;
    --bkg-color: #202C36;
    --btn-color: #2B3844;
    --txt-color: #ffffff;
    --img: invert()
} */
@media (max-width: 420px) {
    #content {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--head-color);
    }
    main {
        background-color: var(--bkg-color);
    }
    #dark-mode {
        filter: var(--img);
        height: 20px;
        width: 20px;
    }
    #borders {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }
    #page-one {
        display: flex;
        flex-direction: column;
    }
    #page-two {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 421px) {
    #content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 75px;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--head-color);
        margin-bottom: 50px;
    }
    #dark-mode {
        filter: var(--img);
        height: 20px;
        width: 20px;
    }
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* width: 900px; */
        gap: 3rem;
    }
    h1 {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 24px;
        color: var(--txt-color);
    }
    h2 {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 18px;
        line-height: 26px;
        margin: 0;
        color: var(--txt-color);
        padding: 5px;

    }
    h4 {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: var(--txt-color);
    }
    h5 {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 14px;
        line-height: 16px;
        text-decoration: none;
        margin: 0%;
        color: var(--txt-color);
        padding: 5px;
    }
    p {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 14px;
        line-height: 16px;
        margin: 0%;
        color: var(--txt-color);
        padding: 5px;
    }
    article {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 1rem;
        width: 500px;
    }
    .page-content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 1rem;
    }
    #page-one {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    #page-two {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 0;
    }
    .native-names {
        display: inline;
    }
    .flag {
        width: 560px;
    }
    #borders {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
    }
}